h2,
h3,
h4,
nav-item,
footer {
    text-align: center;
}
/***************************************** HEADER *******************************************/
header {
    background: url(/ressources/bitcoin-reflection-price-volume-wo.jpg);
    background-size: cover;
    height: 100vh;
    margin-bottom: 40px;
}
h1 {
    color: aliceblue;
    font-size: 5em;
    padding: 150px 0 0 20%;
    text-shadow: -3px 3px 2px green;
    animation: titre ease 3s;
}
.title {
    animation: title ease 5s;
}
@keyframes title {
    0% {
        opacity: 0;
        transform: translatex(0px);
    }
    100% {
        opacity: 1;
        transform: translatex(250px);
    }
}
@keyframes titre {
    0% {
        opacity: 0;
        transform: translatey(-250px);
    }
    100% {
        opacity: 1;
        transform: translatey(0px);
    }
}
/****************************************** MAIN *************************************************/
.img,
.bitcoin {
    width: 10em;
    height: 10em;
    border-radius: 50% 50%;
}
p {
    margin: 10px;
    padding: 10px;
}
#leftPart {
    background-color: blueviolet;
    border-radius: 70px 0;
    padding: 25px;
}
#rightPart {
    background-color: antiquewhite;
    border-radius: 0px 70px;
}
.elements p {
    font-size: 1.2em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    padding-right: 20px;
}
.elements .button {
    text-align: right;
    margin: 15px 4% 0;
}
/* ************************************** Newsletter ************************************************ */
.newsletter {
    background: url(/ressources/Holi-Color-Background-PNG-Picture.png) no-repeat
        50%;
    border-radius: 50%;
    margin: 50px;
}
.newsletter p {
    text-align: center;
}
/* ************************************* Footer **************************************************** */
footer {
    background-color: grey;
    height: auto;
}
.img-footer {
    height: 2em;
}
li {
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 8px;
}
